<% if flash[:notice]%>
    <div class="alert alert-success" role="alert"><%= flash[:notice] %></div>
<% end %>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <%= render @products_order_by_name %>
    </tbody>
</table>

<%=link_to "Create a new product", new_product_path%>
