<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Count</th>
        </tr>
    </thead>
    <tbody>
        <%= render @products_filter_by_name %>
    </tbody>
</table>
